.c__gallery-container {
  padding: 5px 2%;
}
.c__heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.c__heading-text span {
  font-weight: 100;
}
.c__image-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.c__image-gallery .c__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 0px;
}
.c__image-item img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .c__image-gallery {
    flex-direction: row;
  }
}
.c__image-item {
  position: relative;
}
.c_item-wrapper .c__item {
  padding: 0;
}
.c_item-wrapper .c__item img {
  padding: 0 !important;
  display: block;
  max-width: 100%;
  height: auto;
  outline: transparent solid 2px;
  outline-offset: 0px;
}
.c_item-wrapper p {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.c_item-wrapper a .c__item p {
  font-family: 'Raleway', sans-serif;
  font-size: 8px;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}
.c_item-wrapper a:hover .c__item p,
.c_item-wrapper a:focus .c__item p {
  opacity: 1;
}
.c__image-item:hover {
  opacity: 1;
  color: #fff;
}
/*hover 2*/

/* Reset */

.c__product-details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.c__product-details span {
  display: block;
  opacity: 0;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.c__product-details .c__title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}
.c__product-details .c__info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.c__image-item:hover .c__product-details span {
  opacity: 1;
}
.c__image-item:hover::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222020;
  opacity: 0.5;
  pointer-events: none;
}
.c__image-item:hover .c__item img,
.c__image-item:focus .c__item img {
  outline: #fff solid 2px;
  outline-offset: -10px;
}
