{#
/**
 * @file
 *
 * Default template for commerce gallery.
 *
 * Available variables:
 * - gallery_data: Array of commerce related file details.
 * - heading_text: Gallery section herder text
 * - related_data: The commerce gallery related data
 * 	 user {{ related_data.currency_symbol }} to get the default
 * 	 currency symbol
 *
 * @ingroup themeable
 */
 #}
 {% if gallery_data is defined and gallery_data is not empty%}
 <div class="c__gallery-container">
 	{% if heading_text %}
 		<h3 class="c__heading-text">{{ heading_text }}</h3>
 	{% endif %}
 	<div class="c__image-gallery">
 		{% for products in gallery_data %}
 			<div class="c__column">
 				{% for product in products %}
 					<div class="c__image-item">
 						<a href="{{ path('entity.commerce_product.canonical', {'commerce_product': product.product_id}) }}">
 							<div class="c_item-wrapper">
 								<div class="c__item">
 									<img class="gallery-product-image" src="{{ file_url(product.uri) }}" alt="{{ product.title }}">
 									<div class="c__product-details">
 										<span class="c__title">{{ product.title }}</span>
 										<span class="c__info">
 											{% if product.sku is defined and product.sku is not empty %}
 												Sku: {{ product.sku }}
 											{% endif %}
 											{% if product.price__number is defined and product.price__number is not empty %}
 												<br/>
 												Price:
 												{% if related_data.currency_symbol is defined and related_data.currency_symbol is not empty %}{{ related_data.currency_symbol }}{% endif %}{{ product.price__number|number_format(2, '.', ',')  }}
 												{% endif %}
 											</span>
 										</div>
 									</div>
 								</div>
 							</a>
 						</div>
 					{% endfor %}
 				</div>
 			{% endfor %}
 		</div>
 	</div>
 {% endif %}
